body {
    background-image: url("img/bg.png");
}
            
.headadmin {
    padding: 0;
    margin: 0;
    color: white;
    font-family: Arial;
    font-size: 23px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
            
.menu {
    width: 1260px;
    display: flex;
    justify-content: space-between;
}
            
.bookings, .vehicles, .customers, .inquiries, .profile, .logout {
    padding-top: 10px;
}
            
a:link{
    color: white;
    text-decoration: none;
}
            
a:visited{
    color: white;
    text-decoration: none;
    font-style: italic;
}

h1 {
    text-align: center;
    color: white;
    font-family: Arial;
    font-weight: bold;

}

.addsearch{
    margin-right: 20px;
    display: flex;
    justify-content: flex-end;
}

.search {
    margin: 20px;
}

.add {
    margin: 20px;
}
