@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');
html,body{  
    margin: 0;
    padding: 0;
    background: url("img/bg.png")no-repeat;
    background-size: cover;

}

li, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: #edf0f1;
    text-decoration: none;

}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 12% 0px;
    background-color: transparent;


}

.sizedbox1{
    height: 70px;
}

.logo{
    position: absolute;
    top:10px;
    left:100px;

}

.logout-button{
    background-color: transparent;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.logout-button:hover{

    opacity: 0.8;
}

.nav-links{
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0px 40px;

}

.nav-links li {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover{

    color: #edf0f1;
    border-bottom: 1px solid white;

}

#loginHeader{

    padding: 0px 5px 0px 10px;
    border-right: 2px solid white;
}

#regHeader{
    padding: 0px 10px 0px 0px;
}

#inquiryHeader{
    padding: 0px 60px 0px 30px;
}

.title{
    font-size: 70px;
    color: white;
    font-family: "Montserrat", sans-serif;
    

}

.container{
/*    background-color: red;*/
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bookButton{
    
    background-color: blue;
  
    
}

.faqButton{
    background-color: #708090;
/*    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;*/
    
}

.twinBtn{
    font-size: 30px;
    padding: 8px 12px;
    transition: all 0.3s ease 0s;
/*    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;*/
    border-radius: 5px;
}

.twinBtn:hover{
    
/*    border-radius: 0px;*/
/*    box-shadow: 0 4px 8px 0 rgba(8, 104, 159, 0.9);*/
/*   opacity: 0.8;*/
    border-bottom-left-radius: 0px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 0px;
}